<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { label: 'Login' }) %>
</head>
<body>
    <form action="/login" method="post">
        <div>
            <b>Login to Maua</b>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" size="20" />
        </div>
        <div>
            <label for="pass">Password: </label>
            <input type="password" name="pass" size="20" /><br>
        </div>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>