<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { label: 'Matérias' }) %>
</head>
<body>
    <% for (let i = 0; i < Object.keys(subjects).length; i++) { %>
        <h1><%= Object.keys(subjects)[i] %></h1>
        <% for (let j = 1; j <= 16; j++) { %>
            <% if (subjects[Object.keys(subjects)[i]][`T${j}`]) { %>
                <p><%= `T${j}: ${subjects[Object.keys(subjects)[i]][`T${j}`]}` %></p>
            <% } %>
        <% } %>
    <% } %>
</body>
</html>